
html{
    background-color: grey;
}

/* loading page */

div#loadpage {
    /* pointer-events: none; */
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    overflow: hidden;
    background-size: cover;
    transition: 1s all ease-in-out;
}


div#loadpage .mask {
    background-color: #fff;
    transition: 1s all ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

div#loadpage.hidden .mask {
    background-color: transparent;
}

div#loadpage .mask span {
    display: block;
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    transition: 1s all ease-in-out;
    background-color: #fff;
}

div#loadpage .mask span:nth-child(even) {
    left: unset;
    right: 0;
}

div#loadpage .mask span:nth-child(1) {
    top: 0;
}

div#loadpage .mask span:nth-child(2) {
    top: 20%;
}

div#loadpage .mask span:nth-child(3) {
    top: 40%;
}

div#loadpage .mask span:nth-child(4) {
    top: 60%;
}

div#loadpage .mask span:nth-child(5) {
    top: 80%;
}

#loadpage.hidden {
    opacity: 0;
    visibility: hidden;
}

div#loadpage.hidden .mask span {
    width: 0;
}

.logo-loadpage svg {
    position: absolute;
    max-width: 450px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.logo-loadpage svg .layer1 path {
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

.logo-loadpage svg #layer3 path,
.logo-loadpage svg rect {
    opacity: 0;
}

.logo-loadpage svg #layer3 path {
    stroke: transparent;
}

.logo-loadpage svg.animate .layer1 path {
    stroke-opacity: 1;
}

.logo-loadpage svg.active .layer1 path {
    stroke-dasharray: 8000;
    stroke-dashoffset: 8000;
    fill-opacity: 1;
    stroke-opacity: 0;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
}

/* popup */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cl-main);
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}

.cd-popup.is-visible {
    opacity: 1 !important;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1000px;
    max-width: 95vw;
    max-height: 95vh;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: var(--transition);
}

/* .cd-popup.is-visible .cd-popup-container{
    transform: translate(-50%, -50%);
} */

.cd-popup .cd-popup-close {
    transition: 250ms;
    cursor: pointer;
    position: fixed;
    top: 15px;
    color: #fff;
    right: 15px;
    width: 50px;
    height: 50px;
    background-size: cover;
    opacity: 0.7;
    transform: scale(0.8, 0.8);
}

.cd-popup.is-visible .cd-popup-close:hover {
    transform: scale(1, 1) rotate(360deg);
    opacity: 1;
}

div#loading-img img {
    opacity: 0;
    max-height: 80vh;
    object-fit: contain;
    transition: var(--transition);
    transition-delay: .5s;
}

.cd-popup.is-visible #loading-img img {
    opacity: 1;
}

.before svg polygon {
    stroke-opacity: 0;
}

.before svg.animate polygon {
    stroke-opacity: 1;
}

.before svg.active polygon {
    stroke-dasharray: 8000;
    stroke-dashoffset: 8000;
    stroke-opacity: 1;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
}
